.navbar {
  background: rgb(0, 42, 66);
  padding: 0.8em 1.2em;
  color: #fff;
  font-size: 0.7em;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .button {
    color: #ffffffc2;

    &:hover {
      color: #fff;
    }
  }

  & > span {
    display: flex;
    gap: 14px;
  }
}
