:root {
  font-family: "JetBrains Mono", monospace;
  /* font-size: 0.9em; */
  line-height: 1;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* overflow-y: scroll; */
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
